# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

.idea
.DS_Store

BIGTRASH

prologL/TRASH

prologL/bin
prologL/lpl

lprolog.jar

prologL/lprolog.jar
prologL/bak/lprolog.jar

components/CTRASH
components/src/xml_converter
components/bin
components/agpl
components/lprolog.jar

applications
tests

# add back if code in psrc changes in prologL
prologL/bak/lwam.bp


